.results {
  background-color: rgb(190, 216, 230);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

table {
  width: 80%;
  border-collapse: collapse;
  background-color: #303030;
}

th,
td,
caption {
  padding: 2rem;
  text-align: left;
}

caption {
  background-color: #303030;
  color: lightskyblue;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

th {
  font-size: 2.25rem;
}

table,
caption {
  border: transparent;
  border-radius: 0.5rem;
}

#top1 {
  color: gold;
}

#top2 {
  color: silver;
}

#top3 {
  color: #cd7f32;
}
